<div class="modal fade" id="jira-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <h4>Description</h4>
        <p class="modal-description"></p>

        <hr />

        <h4>WorkLog</h4>
        <p class="modal-worklogs"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="log-jira-work-button" data-loading-text="Loading..." data-task="" type="button" class="btn btn-primary btn-loading">Log Work On Jira</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->